<h1>Editing User Portfolio History</h1>

<%= render 'form', user_portfolio_history: @user_portfolio_history %>

<%= link_to 'Show', @user_portfolio_history %> |
<%= link_to 'Back', user_portfolio_histories_path %>
